$white-color: rgb(255, 255, 255);
$black-color: #000;
$deep-blue-color: #002d3f;
$teal-color: #00bcbc;
$dark-gradient-color: linear-gradient(180deg, #2e4e5c, #142329);
$william-color: #375a69;
$plantation-color: #253c45;
$plantation-dark-color: #2e4e5c;
$aqua-spring-color: #f5fcfc;
$pale-sky-color: #49535e;
$blue-wood-color: #3b6475;
$pine-green-color: #007a7a;
$blue-stone-color: #006161;
$gold-color: #f4ba00;
$catskill-white-color: #f3f6f9;
$mystic-color: #dceaef;
$off-water-color: #e5f8f8;
$alto-color: #dce2e5;
$alto-50-color: rgba(220, 226, 229, 0.5);
$gray-chateau-color: #cbd1da;
$limeade-color: #358500;
$punch-color: #dd3131;
$venetian-red-color: #d0021b;
$dixie-color: #e29619;
$cerulean-color: #009cdb;
$oslo-gray-color: #808e93;
$opal-color: #aec7cb;
$concrete-color: #f8f8f8;
$ziggurat-color: #c0d9e4;
$baby-blue-color: rgb(137, 222, 255);
$link-water-color: #f1f6fb;
$light-shade-of-cyan-color: #b6d0da;
