<div class="mat-elevation-z8 small-table">
  <div class="customer-content">
    <div class="table-header">
      <div class="dc-h3 header">Orders</div>
      <div class="search-bar">
        <input
          class="dc-search"
          placeholder="Search Order ID or Product Name"
          (keyup)="search($event)"
        />
      </div>
    </div>
    <div class="table-container">
      <table
        mat-table
        class="full-width-table"
        aria-label="Elements"
        [dataSource]="dataSource"
        matSort
        matSortDisableClear="true"
        [matSortActive]="defaultSort.active"
        [matSortDirection]="defaultSort.direction"
      >
        <ng-container matColumnDef="orderId">
          <th
            mat-header-cell
            class="dc-label"
            *matHeaderCellDef
            mat-sort-header
          >
            Order Id
          </th>
          <td mat-cell class="dc-content" *matCellDef="let element">
            {{ element.orderId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="orderDate">
          <th
            mat-header-cell
            class="dc-label"
            *matHeaderCellDef
            mat-sort-header
          >
            Order Date
          </th>
          <td mat-cell class="dc-content" *matCellDef="let element">
            {{ element.orderDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th
            mat-header-cell
            class="dc-label"
            *matHeaderCellDef
            mat-sort-header
          >
            Product Name
          </th>
          <td mat-cell class="dc-content" *matCellDef="let element">
            {{ element.productName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="shipMode">
          <th
            mat-header-cell
            class="dc-label"
            *matHeaderCellDef
            mat-sort-header
          >
            Shipping Mode
          </th>
          <td mat-cell class="dc-content" *matCellDef="let element">
            {{ element.shipMode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th
            mat-header-cell
            class="dc-label"
            *matHeaderCellDef
            mat-sort-header
          >
            Quantity
          </th>
          <td mat-cell class="dc-content" *matCellDef="let element">
            {{ element.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <td
            mat-cell
            class="dc-label no-data-cell"
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <ng-container *ngIf="!(error$ | async) && !loading">
              <span class="dc-content">No Orders</span>
            </ng-container>
            <ng-container *ngIf="(error$ | async) && !loading">
              <span class="dc-label">System Failure</span>
              <span class="dc-content">Error</span>
              <span class="retry" (click)="retry()">Retry</span>
            </ng-container>
            <ng-container *ngIf="loading">
              <span class="dc-label">Retrieving data...</span>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <ng-container *ngIf="OrdersTotal && !loading">
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="customer-row"
          ></tr>
        </ng-container>
        <ng-container *ngIf="!OrdersTotal || loading">
          <tr
            mat-row
            *matRowDef="let row; columns: ['noData']"
            class="no-data-row"
          ></tr>
        </ng-container>
      </table>

      <mat-paginator
        [length]="OrdersTotal"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
      ></mat-paginator>
    </div>
  </div>
</div>
